WarningsAsErrors: "" # "*" for all Werror behaviour.
UseColor: true
HeaderFilterRegex: '^(?!MPI_api.h$|PETSc_api.h$).*' # Pulled in from python packages and not classified as system headers
ExtraArgsBefore:
  - '-Wno-unknown-warning-option'
Checks: >
  -*,
  performance*
CheckOptions:
  # Design decision: pass nb::ndarray by value, not const ref.
  - key: performance-unnecessary-value-param.AllowedTypes
    value: 'nanobind::ndarray'
