usage()
{
   cat << EOF
Usage: dolfin-config [options]

       --version  (get version number)
       --cflags   (get compiler flags)
       --libs     (get libraries for linking)
       --compiler (get compiler)

EOF
   exit $1
}

if test $# -eq 0; then
        usage 1 1>&2
fi

case $1 in
	--version)
		echo $PACKAGE $VERSION
		;;
	--cflags)
      		echo $CFLAGS
      ;;
	--libs)
		echo $LIBS
      ;;
	--compiler)
		echo $COMPILER
      ;;
	*)
      usage 1 1>&2
      ;;
esac
