name: DOLFINX CI tests

on:
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - master

jobs:
  build:
    if: "!(contains(github.event.head_commit.message, '[ci skip]') || contains(github.event.head_commit.message, '[skip ci]'))"
    runs-on: ubuntu-latest
    container: fenicsproject/test-env

    env:
      CC: clang-10
      CXX: clang++-10
      DOLFINX_JIT_CFLAGS: -g0 -O0
      MPLBACKEND: agg
      PETSC_ARCH: linux-gnu-${{ matrix.petsc_arch }}-${{ matrix.petsc_int_type }}
      OMPI_ALLOW_RUN_AS_ROOT: 1
      OMPI_ALLOW_RUN_AS_ROOT_CONFIRM: 1
      OMPI_MCA_rmaps_base_oversubscribe: 1
      OMPI_MCA_plm: isolated
      OMPI_MCA_btl_vader_single_copy_mechanism: none
      OMPI_MCA_mpi_yield_when_idle: 1
      OMPI_MCA_hwloc_base_binding_policy: none

    strategy:
      matrix:
        petsc_arch: [real, complex]
        petsc_int_type: [32, 64]

    steps:
      - uses: actions/checkout@v2
      - name: Install FEniCS Python components
        run: python3 -m pip install git+https://github.com/FEniCS/fiat.git git+https://github.com/FEniCS/ufl.git git+https://github.com/FEniCS/ffcx.git

      - name: Flake8 checks
        run: |
          python3 -m flake8 python/dolfinx
          python3 -m flake8 python/dolfinx_utils
          python3 -m flake8 python/demo
          python3 -m flake8 python/test
      - name: Build C++ interface documentation
        run: cd cpp/doc && doxygen

      - name: Configure C++
        run: cmake -G Ninja -DCMAKE_BUILD_TYPE=Developer -B build -S cpp/
      - name: Build and install C++ library
        run: |
          cmake --build build
          cmake --install build

      - name: Build and run C++ unit tests (serial and MPI)
        run: |
          cmake -G Ninja -DCMAKE_BUILD_TYPE=Developer -B build/test/unit/ -S build/test/unit/
          cmake --build build/test/unit
          cd build/test/unit
          ctest --output-on-failure -R unittests
          mpiexec -np 2 ctest --output-on-failure -R unittests
      - name: Build and run C++ regression tests (serial and MPI (np=2))
        run: |
          cmake -G Ninja -DCMAKE_BUILD_TYPE=Developer -B build/demo/ -S build/demo/
          cmake --build build/demo
          cd build/demo
          ctest -R demo -R serial
          ctest -R demo -R mpi_2

      - name: Build Python interface
        run: python3 -m pip -v install python/
      - name: Build Python interface documentation
        run: |
          cd python/demo && python3 ./generate-demo-files.py
          cd ../doc && make html

      - name: Run demos (Python, serial)
        run: python3 -m pytest -v -n=2 -m serial --durations=10 python/demo/test.py
      - name: Run demos (Python, MPI (np=2))
        run: python3 -m pytest -v -m mpi --num-proc=2 python/demo/test.py

      - name: Run Python unit tests (serial)
        run: python3 -m pytest -v -n=2 --durations=50 python/test/unit/
      - name: Run Python unit tests (MPI, np=2)
        run: mpirun -np 2 python3 -m pytest python/test/unit/

      - name: Push C++ documentation
        if: github.ref == 'master'
        run: |
          cd cpp/doc
          # Upload to server
      # - name: Push Python documentation
      #     if: github.ref == 'master'
      #     run: |
      #     cd python/doc
      # Upload to server
