name: Docker environment images

# Builds the fenicsproject/test-env:${MPI} and dolfinx/dev-env images
# once per week. These are used for build/test workflows and end-user
# builds of DOLFINx, respectively.

on:
  # Uncomment the below to trigger 'docker build' on push
  #push:
  #  branches:
  #    - "**"
  schedule:
    # '*' is a special character in YAML, so string must be quoted
    - cron: "0 22 * * SUN"
  workflow_dispatch: ~

jobs:
  start_runner:
    name: Start self-hosted EC2 runner
    #if: ${{ github.repository == 'FEniCS/dolfinx' && github.ref == 'refs/heads/main' }}
    runs-on: ubuntu-latest
    outputs:
      label: ${{ steps.start-ec2-runner.outputs.label }}
      ec2-instance-id: ${{ steps.start-ec2-runner.outputs.ec2-instance-id }}
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}
      - name: Start EC2 runner
        id: start-ec2-runner
        uses: jhale/ec2-github-runner@main
        with:
          mode: start
          github-token: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}
          ec2-image-id: ami-011694240268da883
          ec2-instance-type: c6g.large
          subnet-id: subnet-dc2151b7
          security-group-id: sg-03fc69ee7a6ba8bc4

  build_test_env_openmpi:
    name: Build fenicsproject/test-env:openmpi image
    #if: ${{ github.repository == 'FEniCS/dolfinx' && github.ref == 'refs/heads/main' }}
    # NOTE: OpenMPI ARM64 build currently fails, see https://github.com/FEniCS/dolfinx/runs/2380975354?check_suite_focus=true#step:4:7472
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    needs: start_runner
    env:
      PETSC_SLEPC_OPTFLAGS: "-O2 -g"
      PETSC_SLEPC_DEBUGGING: "yes"
      MPI: "openmpi"
      DOCKER_BUILD_ARGS: "--build-arg PETSC_SLEPC_OPTFLAGS --build-arg PETSC_SLEPC_DEBUGGING --build-arg MPI"
    steps:
      - uses: actions/checkout@v2
      - name: set architecture tag
        run: |
          if [[ ${{matrix.os}} == 'ubuntu-latest' ]]; then
            echo "ARCH_TAG=amd64" >> $GITHUB_ENV
          elif [[ ${{matrix.os}} == 'ARM64' ]]; then
            echo "ARCH_TAG=arm64" >> $GITHUB_ENV
          fi
      - name: Build the Docker image
        run: docker buildx build ${DOCKER_BUILD_ARGS} --file docker/Dockerfile --target dev-env --tag fenicsproject/test-env:${MPI}-${ARCH_TAG} docker/
      - name: Log into the Dockerhub registry
        run: echo ${{ secrets.dockerhub_token }} | docker login -u ${{ secrets.dockerhub_username }} --password-stdin
      - name: Push to the DockerHub registry
        run: docker push fenicsproject/test-env:${MPI}-${ARCH_TAG}
      - name: Cleanup
        run: docker rmi fenicsproject/test-env:${MPI}-${ARCH_TAG}

  build_test_env_mpich:
    name: Build fenicsproject/test-env:mpich image
    #if: ${{ github.repository == 'FEniCS/dolfinx' && github.ref == 'refs/heads/main' }}
    strategy:
      matrix:
        os: [ubuntu-latest, ARM64]
    runs-on: ${{ matrix.os }}
    needs: start_runner
    env:
      PETSC_SLEPC_OPTFLAGS: "-O2 -g"
      PETSC_SLEPC_DEBUGGING: "yes"
      MPI: "mpich"
      DOCKER_BUILD_ARGS: "--build-arg PETSC_SLEPC_OPTFLAGS --build-arg PETSC_SLEPC_DEBUGGING --build-arg MPI"
    steps:
      - uses: actions/checkout@v2
      - name: set architecture tag
        run: |
          if [[ ${{matrix.os}} == 'ubuntu-latest' ]]; then
            echo "ARCH_TAG=amd64" >> $GITHUB_ENV
          elif [[ ${{matrix.os}} == 'ARM64' ]]; then
            echo "ARCH_TAG=arm64" >> $GITHUB_ENV
          fi
      - name: Build the Docker image
        run: docker buildx build ${DOCKER_BUILD_ARGS} --file docker/Dockerfile --target dev-env --tag fenicsproject/test-env:${MPI}-${ARCH_TAG} docker/
      - name: Log into the DockerHub registry
        run: echo ${{ secrets.DOCKERHUB_TOKEN }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin
      - name: Push to the DockerHub registry
        run: docker push fenicsproject/test-env:${MPI}-${ARCH_TAG}
      - name: Cleanup
        run: docker rmi fenicsproject/test-env:${MPI}-${ARCH_TAG}

  build_dev_env:
    name: Build dolfinx/dev-env image
    #if: ${{ github.repository == 'FEniCS/dolfinx' && github.ref == 'refs/heads/main' }}
    strategy:
      matrix:
        os: [ubuntu-latest, ARM64]
    runs-on: ${{ matrix.os }}
    needs: start_runner
    env:
      # TODO: march based on matrix.os
      PETSC_SLEPC_OPTFLAGS: "-O2"
      PETSC_SLEPC_DEBUGGING: "no"
      MPI: "mpich"
      DOCKER_BUILD_ARGS: "--build-arg PETSC_SLEPC_OPTFLAGS --build-arg PETSC_SLEPC_DEBUGGING --build-arg MPI"
    steps:
      - uses: actions/checkout@v2
      - name: set architecture tag
        run: |
          if [[ ${{matrix.os}} == 'ubuntu-latest' ]]; then
            echo "ARCH_TAG=amd64" >> $GITHUB_ENV
          elif [[ ${{matrix.os}} == 'ARM64' ]]; then
            echo "ARCH_TAG=arm64" >> $GITHUB_ENV
          fi
      - name: Build the Docker image
        run: docker buildx build ${DOCKER_BUILD_ARGS} --file docker/Dockerfile --target dev-env --tag dolfinx/dev-env:${ARCH_TAG} docker/
      - name: Log into the DockerHub registry
        run: echo ${{ secrets.DOCKERHUB_TOKEN }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin
      - name: Push to the DockerHub registry
        run: docker push dolfinx/dev-env:${ARCH_TAG}
      - name: Cleanup
        run: docker rmi dolfinx/dev-env:${ARCH_TAG}

  push_multiarch_images:
    name: Push multiarch images
    #if: ${{ github.repository == 'FEniCS/dolfinx' && github.ref == 'refs/heads/main' }}
    runs-on: ubuntu-latest
    needs:
      - build_test_env_openmpi
      - build_test_env_mpich
      - build_dev_env
    steps:
      - name: Log into the DockerHub registry
        run: echo ${{ secrets.DOCKERHUB_TOKEN }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin
      # NOTE: OpenMPI ARM64 build currently fails, see https://github.com/FEniCS/dolfinx/runs/2380975354?check_suite_focus=true#step:4:7472
      - name: Push multiarch images
        run: |
          docker buildx imagetools create \
            -t fenicsproject/test-env:mpich fenicsproject/test-env:mpich-amd64 fenicsproject/test-env:mpich-arm64
          docker buildx imagetools create \
            -t fenicsproject/test-env:openmpi fenicsproject/test-env:openmpi-amd64
          docker buildx imagetools create \
            -t dolfinx/dev-env:latest dolfinx/dev-env:amd64 dolfinx/dev-env:arm64

  stop-runner:
    name: Stop self-hosted EC2 runner
    if: ${{ always() }} # required to stop the runner even if the error happened in the previous jobs
    needs:
      - start_runner # required to get output from the start-runner job
      - build_test_env_openmpi # required to wait when the main job is done
      - build_test_env_mpich
      - build_dev_env
    runs-on: ubuntu-latest
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}
      - name: Stop EC2 runner
        uses: jhale/ec2-github-runner@main
        with:
          mode: stop
          github-token: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}
          label: ${{ needs.start_runner.outputs.label }}
          ec2-instance-id: ${{ needs.start_runner.outputs.ec2-instance-id }}
