name: DOLFINX CI using Intel compilers

on:
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-20.04
    container: fenicsproject/test-env:mpich

    defaults:
      run:
        shell: bash

    env:
      CC: icc
      CXX: icpc
    #   MPLBACKEND: agg
      PETSC_ARCH: linux-gnu-${{ matrix.petsc_arch }}-${{ matrix.petsc_int_type }}

    strategy:
      matrix:
        petsc_arch: [real]
        petsc_int_type: [32]

    steps:
      - uses: actions/checkout@v2

      - name: Install Intel compilers
        run: |
          wget https://apt.repos.intel.com/intel-gpg-keys/GPG-PUB-KEY-INTEL-SW-PRODUCTS.PUB
          apt-key add GPG-PUB-KEY-INTEL-SW-PRODUCTS.PUB
          echo "deb https://apt.repos.intel.com/oneapi all main" | tee /etc/apt/sources.list.d/oneAPI.list
          apt update
          # apt install -y intel-hpckit
          apt install -y intel-oneapi-compiler-dpcpp-cpp-and-cpp-classic

      - name: Install FEniCS Python components
        run: |
          . /opt/intel/oneapi/setvars.sh
          python3 -m pip install git+https://github.com/FEniCS/fiat.git git+https://github.com/FEniCS/ufl.git git+https://github.com/FEniCS/ffcx.git

      - name: Configure C++
        run: |
          . /opt/intel/oneapi/setvars.sh
          cmake -G Ninja -DCMAKE_BUILD_TYPE=Developer -B build -S cpp/

      - name: Build and install C++ library
        run: |
          . /opt/intel/oneapi/setvars.sh
          cmake --build build
          cmake --install build

      - name: Build and run C++ unit tests (serial and MPI)
        run: |
          . /opt/intel/oneapi/setvars.sh
          cmake -G Ninja -DCMAKE_BUILD_TYPE=Developer -B build/test/unit/ -S build/test/unit/
          cmake --build build/test/unit
          cd build/test/unit
          ctest --output-on-failure -R unittests
          mpiexec -np 2 ctest --output-on-failure -R unittests

          - name: Build and run C++ regression tests (serial and MPI (np=2))
        run: |
          . /opt/intel/oneapi/setvars.sh
          cmake -G Ninja -DCMAKE_BUILD_TYPE=Developer -B build/demo/ -S build/demo/
          cmake --build build/demo
          cd build/demo
          ctest -R demo -R serial
          ctest -R demo -R mpi_2

      # - name: Build Python interface
      #   run: |
      #     . /opt/intel/oneapi/setvars.sh
      #     export CC=icc
      #     export CXX=icpc
      #     python3 -m pip -v install python/

      # - name: Set default DOLFINX JIT parameters
      #   run: |
      #     mkdir -p ~/.config/dolfinx
      #     echo '{ "cffi_extra_compile_args": ["-g0", "-O0" ] }' > ~/.config/dolfinx/dolfinx_jit_parameters.json

      # - name: Run demos (Python, serial)
      #   run: python3 -m pytest -v -n=2 -m serial --durations=10 python/demo/test.py
      # - name: Run demos (Python, MPI (np=2))
      #   run: python3 -m pytest -v -m mpi --num-proc=2 python/demo/test.py

      # - name: Run Python unit tests (serial)
      #   run: python3 -m pytest -n=auto --durations=50 python/test/unit/
      # - name: Run Python unit tests (MPI, np=2)
      #   run: mpirun -np 2 python3 -m pytest python/test/unit/
