name: Test visualisation demos

on:
  # Uncomment the below to trigger tests on push
  # push:
  #   branches:
  #     - "**"
  schedule:
    # '*' is a special character in YAML, so string must be quoted
    - cron: "0 1 * * *"
  workflow_dispatch: ~

jobs:
  build:
    if: "!(contains(github.event.head_commit.message, '[ci skip]') || contains(github.event.head_commit.message, '[skip ci]'))"
    runs-on: ubuntu-20.04
    container: fenicsproject/test-env:latest-openmpi

    env:
      CC: clang
      CXX: clang++

      # For pyvista/pyvistaqt
      DISPLAY: ":99.0"
      PYVISTA_OFF_SCREEN: true
      PYVISTA_VERSION: 0.34.1
      PYVISTA_QT_VERSION: 0.9.0

      PETSC_ARCH: linux-gnu-${{ matrix.petsc_arch }}-32
      OMPI_ALLOW_RUN_AS_ROOT: 1
      OMPI_ALLOW_RUN_AS_ROOT_CONFIRM: 1
      OMPI_MCA_rmaps_base_oversubscribe: 1
      OMPI_MCA_plm: isolated
      OMPI_MCA_btl_vader_single_copy_mechanism: none
      OMPI_MCA_mpi_yield_when_idle: 1
      OMPI_MCA_hwloc_base_binding_policy: none

    strategy:
      matrix:
        petsc_arch: [real, complex]

    steps:
      - uses: actions/checkout@v3

      - name: Install FEniCS Python components
        run: |
          python3 -m pip install git+https://github.com/FEniCS/ufl.git
          python3 -m pip install git+https://github.com/FEniCS/basix.git
          python3 -m pip install git+https://github.com/FEniCS/ffcx.git
          apt-get update
          apt-get install -y --no-install-recommends libgl1-mesa-dev xvfb  # pyvista
          apt-get install -y --no-install-recommends python3-pyqt5 libgl1-mesa-glx  # pyvistaqt
          pip3 install pyvista==${PYVISTA_VERSION}
          pip3 install pyvistaqt==${PYVISTA_QT_VERSION}
          pip3 install matplotlib

      - name: Configure C++
        run: cmake -G Ninja -DCMAKE_BUILD_TYPE=Developer -B build -S cpp/
      - name: Build and install C++ library
        run: |
          cmake --build build
          cmake --install build

      - name: Build Python interface
        run: python3 -m pip -v install --global-option build --global-option --debug python/

      - name: Run pyvista demos (Python, serial)
        run: python3 -m pytest -v -n=2 -m serial --durations=10 python/demo/test.py

      - name: Run pyivsta demos (Python, MPI (np=2))
        run: python3 -m pytest -v -m mpi --num-proc=2 python/demo/test.py
