name: Red Hat clone

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-20.04
    container: fenicsproject/test-env:latest-redhat

    steps:
      - uses: actions/checkout@v2

      - name: Install FEniCS Python components
        run: |
          python3 -m pip install git+https://github.com/FEniCS/ufl.git
          python3 -m pip install git+https://github.com/FEniCS/basix.git@mscroggs/degree
          python3 -m pip install git+https://github.com/FEniCS/ffcx.git@mscroggs/degree
      - name: Install matplotlib
        run: pip3 install matplotlib        

      - name: Configure C++
        run: cmake -G Ninja -DCMAKE_BUILD_TYPE=Developer -B build -S cpp/

      - name: Build and install C++ library
        run: |
          cmake --build build
          cmake --install build

      - name: Build C++ unit tests
        run: |
          cmake -G Ninja -DCMAKE_BUILD_TYPE=Developer -B build/test/ -S build/test/
          cmake --build build/test
      - name: Run C++ unit tests (serial)
        run: |
          cd build/test
          ctest -V --output-on-failure -R unittests
      - name: Run C++ unit tests (MPI)
        run: |
          cd build/test
          mpiexec -np 2 ctest -V --output-on-failure -R unittests
      - name: Build and run C++ regression tests (serial and MPI (np=2))
        run: |
          cmake -G Ninja -DCMAKE_BUILD_TYPE=Developer -B build/demo/ -S build/demo/
          cmake --build build/demo
          cd build/demo
          ctest -V -R demo -R serial
          ctest -V -R demo -R mpi_2

      - name: Build Python interface
        run: python3 -m pip -v install --global-option build --global-option --debug python/

      - name: Set default DOLFINx JIT parameters
        run: |
          mkdir -p ~/.config/dolfinx
          echo '{ "cffi_extra_compile_args": ["-g0", "-O0" ] }' > ~/.config/dolfinx/dolfinx_jit_parameters.json

      - name: Run demos (Python, serial)
        run: python3 -m pytest -n=2 -m serial --durations=10 python/demo/test.py
      - name: Run demos (Python, MPI (np=2))
        run: python3 -m pytest -m mpi --num-proc=2 python/demo/test.py

      - name: Run Python unit tests (serial)
        run: python3 -m pytest -n=auto --durations=50 python/test/unit/
      - name: Run Python unit tests (MPI, np=2)
        run: mpirun -np 2 python3 -m pytest python/test/unit/
